# Default ignored files
/../../../:RaftDiplomski/.idea/shelf/
/../../../:RaftDiplomski/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:RaftDiplomski/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:RaftDiplomski/.idea/dataSources/
/../../../:RaftDiplomski/.idea/dataSources.local.xml
